@page "/"

<PageTitle>QUIZ C#</PageTitle>
<link rel="stylesheet" href="css/style.css" />
<link href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap" rel="stylesheet">

<div class="container">
	<div class="content">
		<h1>QUIZ <img src="img/csharp.png" /></h1>
		<p class="text-break">Teste seus conhecimentos em C#</p>
		<a class="btn btn-primary" href="/quiz">Começar</a>
	</div>
</div>
